.ant-layout-header.header-layout {
  display: block !important;
  padding: 0px 0px !important;
  background: none;
}
.ant-layout.layout-body {
  background: none;
  display: flex;
  flex: 1;
  min-height: 100vh;
}

.ant-layout-sider {
  background: none !important;
}

.main.ant-layout-content {
  display: block !important;
  padding: 0px !important;
}

.ant-layout.ant-layout-has-sider > .ant-layout{
  width: auto !important;
}

@media only screen and (max-width: 575px){
  .ant-layout-footer {
      padding: 10px !important;
      color: rgba(0, 0, 0, 0.85);
      font-size: 14px;
      background: #f0f2f5;
  }
}
